.navigationContainer {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition-timing-function: ease-in;
  z-index: 100;
  /* background: #fff; */
  margin-left: 160px;
}

@media (max-width: 550px) {
  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.listContainer {
  width: 25%;
  height: 90%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .navigationContainer {
    margin-left: 0;
    z-index: 100;
    background: #fff;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 0px;
    background-color: inherit;
  }

  .listContainer {
    width: 80%;
    display: flex;
  }
}

.listItem {
  display: inline-block;
}

.listItem > a {
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: -0.5px;
  /* color: #0b0b0c; */
}
