.navigationContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition-timing-function: ease-in;
  gap: 20px;
}

@media (max-width: 550px) {
  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}


.listContainer {
  width: 40%;
  height: 90%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .listContainer {
    width: 90%;
  }
}

.listItem {
  display: inline-block;
}

.listItem > a {
  font-weight: 500;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: -0.5px;
  color: #0b0b0c;
}
