.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

/* @media (max-width: 500px) {
  .cardContainer {
    width: 50%;
  }
} */

/* .card {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

@media (max-width: 500px) {
} */

.card {
  width: 900px;
  display: grid;
}

@media (min-width: 501px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.cardProjectImage {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  /* border: 0.1rem solid black; */
  width: 450px;
  height: 245px;
  border-radius: 0.5rem;
}

@media (max-width: 500px) {
  .cardProjectImage {
    width: 0px;
    height: 0px;
  }
}

.cardInfo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-width: 95%;
}

.cardFeaturedProjectHeader {
  margin: 1px;
  padding: 5px;
  color: #4682b4;
  font-family:
    Roboto Mono,
    monospace;
  letter-spacing: -0.5px;
  font-size: 0.95rem;
  font-weight: 500;
}

.cardInfoProjectTitle {
  margin: 5px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.5px;
}

.cardInfoTechStack {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 60px;
}

.cardInfoTechStackText {
  row-gap: 15px;
  font-family:
    Roboto Mono,
    monospace;
  font-weight: 2;
}

.cardInfoLinks {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.cardDetailsBar {
  position: relative;
  width: 500px;
  border-radius: 5px;
  height: 50px;
  z-index: 2;
  background-color: #1b1b1b;
  color: white;
  transition: 0.2s;
  padding: 10px 10px;
}

@media (max-width: 500px) {
  .cardDetailsBar {
    width: 95%;
  }
}

.cardDetailsBarReversed {
  position: relative;
  border-radius: 5px;
  height: 50px;
  z-index: 2;
  background-color: #1b1b1b;
  color: white;
  transition: 0.2s;
  padding: 10px 10px;
  left: 25px;
}

@media (max-width: 500px) {
  .cardDetailsBarReversed {
    width: 92%;
    left: 0px;
  }
}

.socialLink:hover {
  color: steelblue;
  cursor: pointer;
}
