/* * {
  background-color: #333;
  color: #fff;
} */

* {
  font-style: Roboto;
}

/* // Dark/Light mode
// .dark {
//   background-color: #333;
//   color: #fff;
//  }
//  .light {
//   background-color: #fff;
//   color: #333;
//  } */

.gridTesting {
  display: grid;
  width: 60%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media (max-width: 500px) {
  .gridTesting {
    width: 400px;
    grid-template-columns: 1fr;
  }
}
